Flujo 2 - Creador de Carruseles con DALL-E.json
{
  "name": "Flujo 2 - Creador de Carruseles (Texto + DALL-E)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-carousel",
        "options": {}
      },
      "id": "webhook-carousel",
      "name": "Webhook Carrusel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "text": "={{ JSON.stringify($json.body.idea) }}",
        "requireOutputParser": true,
        "options": {
          "systemMessage": "Eres un arquitecto de automatización + experto en contenido viral para Instagram.\n\nTu misión es transformar guiones en carruseles listos para Canva.\n\nOBJETIVO:\n1. Convertir el guion en un carrusel de 3 a 5 slides.\n2. Generar 3-4 prompts de imagen (uno por slide).\n3. Preparar el canva_payload.\n\nREGLAS IMPORTANTES:\n* Cada slide debe tener una sola idea (máximo 12 palabras).\n* El primer slide debe ser llamativo.\n* El último slide siempre debe ser CTA.\n\nPROMPTS DE IMAGEN:\n* Estilo optimizado para IA (DALL·E).\n* Máximo 25 palabras (estilo, sujeto, luz, colores).\n* Coherencia visual.\n\nDevuelve SOLO JSON."
        }
      },
      "id": "agent-carousel",
      "name": "Agente Textual",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [220, 0]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "options": {}
      },
      "id": "chat-model-carousel",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [200, 220]
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchema": "{\n  \"carousels\": [\n    {\n      \"title\": \"string\",\n      \"slides\": [\n        {\n          \"slide\": 0,\n          \"type\": \"string\",\n          \"text\": \"string\"\n        }\n      ],\n      \"image_prompts\": [\n        \"string\"\n      ],\n      \"visual_style_master\": \"string\",\n      \"canva_payload\": {\n        \"pages\": [\n          {\n            \"text\": \"string\",\n            \"image_prompt\": \"string\"\n          }\n        ]\n      }\n    }\n  ]\n}"
      },
      "id": "output-parser-carousel",
      "name": "Estructurador",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [400, 220]
    },
    {
      "parameters": {
        "jsCode": "let data = $input.item.json.output;\nif (typeof data === 'string') data = JSON.parse(data);\n\nconst originalBody = $('Webhook Carrusel').first().json.body;\nconst carousels = data.carousels[0];\nconst prompts = carousels.image_prompts;\n\n// Si la IA no genero prompts, mandamos uno vacio de escape\nif (!prompts || prompts.length === 0) {\n  return [{ json: { prompt: \"blank image\", originalCarousel: data, originalBody } }];\n}\n\nreturn prompts.map((prompt, idx) => {\n  return {\n    json: {\n      prompt: prompt,\n      index: idx,\n      originalCarousel: data,\n      originalBody: originalBody\n    }\n  };\n});"
      },
      "id": "code-split-prompts",
      "name": "Separar Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "prompt": "={{ $json.prompt }}",
        "size": "1024x1024",
        "options": {}
      },
      "id": "openai-dalle",
      "name": "Generador DALL-E 3",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [700, 0]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-images",
      "name": "Juntar Imágenes",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [900, 0]
    },
    {
      "parameters": {
        "jsCode": "const aggregated = $input.all();\nconst firstItem = aggregated[0].json;\n\n// Recuperamos los datos originales\nlet finalCarousel = firstItem.originalCarousel;\nconst originalBody = firstItem.originalBody;\n\n// Extraemos URLs de las imagenes (DALL-E devuelve la url en un array llamado 'data')\nconst generatedImages = aggregated.map(item => {\n  if(item.json.data && item.json.data[0] && item.json.data[0].url) {\n    return item.json.data[0].url;\n  }\n  return null;\n});\n\n// Inyectamos las URLs en el JSON final\nif (finalCarousel.carousels && finalCarousel.carousels[0] && finalCarousel.carousels[0].canva_payload) {\n  generatedImages.forEach((url, idx) => {\n    if(finalCarousel.carousels[0].canva_payload.pages[idx]) {\n       finalCarousel.carousels[0].canva_payload.pages[idx].generated_image_url = url;\n    }\n  });\n}\n\nreturn {\n  json: {\n    projectId: originalBody.projectId,\n    ideaIndex: originalBody.ideaIndex,\n    carouselData: finalCarousel\n  }\n};"
      },
      "id": "code-merge-final",
      "name": "Montar JSON Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lucia-viral-saas.vercel.app/api/webhooks/carousel-result",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "projectId", "value": "={{ $json.projectId }}" },
            { "name": "ideaIndex", "value": "={{ $json.ideaIndex }}" },
            { "name": "carouselData", "value": "={{ $json.carouselData }}" }
          ]
        },
        "options": {}
      },
      "id": "http-sync-carousel-final",
      "name": "Sync Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Webhook Carrusel": {
      "main": [ [ { "node": "Agente Textual", "type": "main", "index": 0 } ] ]
    },
    "Agente Textual": {
      "main": [ [ { "node": "Separar Prompts", "type": "main", "index": 0 } ] ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [ [ { "node": "Agente Textual", "type": "ai_languageModel", "index": 0 } ] ]
    },
    "Estructurador": {
      "ai_outputParser": [ [ { "node": "Agente Textual", "type": "ai_outputParser", "index": 0 } ] ]
    },
    "Separar Prompts": {
      "main": [ [ { "node": "Generador DALL-E 3", "type": "main", "index": 0 } ] ]
    },
    "Generador DALL-E 3": {
      "main": [ [ { "node": "Juntar Imágenes", "type": "main", "index": 0 } ] ]
    },
    "Juntar Imágenes": {
      "main": [ [ { "node": "Montar JSON Final", "type": "main", "index": 0 } ] ]
    },
    "Montar JSON Final": {
      "main": [ [ { "node": "Sync Web", "type": "main", "index": 0 } ] ]
    }
  }
}
