HeyGen Premium Avatar Flow (1).json
{
  "name": "HeyGen Premium Avatar Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heygen-upload",
        "options": {}
      },
      "id": "8ed07883-1793-413e-8d19-974859bbae37",
      "name": "Webhook: Files Uploaded",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        864,
        352
      ],
      "webhookId": "d14f9993-eeaf-488d-b843-5557d1ff5cec"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heygen-activate",
        "options": {}
      },
      "id": "421ed67a-c75b-457d-ae86-83557772e378",
      "name": "Webhook: Start Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        864,
        592
      ],
      "webhookId": "0b646822-8fc4-4f05-a91c-11f04f8a9f20"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.ideas",
        "options": {}
      },
      "id": "a97aa09f-6937-4bdb-b98f-fed97334bec0",
      "name": "Split Ideas",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        1136,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"fc2aa33ca89d407fb6d48ffdc9ad42dc\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.full_script }}\",\n        \"voice_id\": \"695086d68b194191bd7907f0196d1374\",\n        \"speed\": 1.1\n      },\n      \"background\": {\n        \"type\": \"image\",\n        \"url\": \"{{ $json.suggested_scenario === 'office' ? 'https://images.unsplash.com/photo-1497366216548-37526070297c?auto=format&fit=crop&q=80&w=1280' : ($json.suggested_scenario === 'living-room' ? 'https://images.unsplash.com/photo-1586023492125-27b2c045efd7?auto=format&fit=crop&q=80&w=1280' : ($json.suggested_scenario === 'studio' ? 'https://images.unsplash.com/photo-1598488035139-bdbb2231ce04?auto=format&fit=crop&q=80&w=1280' : ($json.suggested_scenario === 'nature' ? 'https://images.unsplash.com/photo-1441974231531-c6227db76b6e?auto=format&fit=crop&q=80&w=1280' : 'https://images.unsplash.com/photo-1550684848-fac1c5b4e853?auto=format&fit=crop&q=80&w=1280'))) }}\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  }\n}",
        "options": {}
      },
      "id": "9032f131-f463-4bf3-98aa-b7203b9871ad",
      "name": "HeyGen Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1328,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "eR85dyjbMnOkCEB3",
          "name": "Heygen prueba 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lucia-viral-saas.vercel.app/api/webhooks/reels",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "projectId",
              "value": "={{ $(\"Webhook: Start Generation\").first().json.body.projectId }}"
            },
            {
              "name": "title",
              "value": "={{$node[\"Split Ideas\"].json[\"title\"]}}"
            },
            {
              "name": "script",
              "value": "={{$node[\"Split Ideas\"].json[\"full_script\"]}}"
            },
            {
              "name": "videoUrl",
              "value": "={{$json.data.video_url}}"
            },
            {
              "name": "status",
              "value": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "915fb315-d10e-4e0b-9f8d-20a825d4ed4c",
      "name": "Update Web Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1776,
        592
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "minutes"
      },
      "id": "5ff53623-7288-4009-a125-41af3299d590",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1536,
        592
      ],
      "webhookId": "94a5721a-d260-4170-b2b0-ca141e5c4ec6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Start Generation": {
      "main": [
        [
          {
            "node": "Split Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Ideas": {
      "main": [
        [
          {
            "node": "HeyGen Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen Generate Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update Web Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2c6ccb63-50a1-4fcf-91e9-12c5fa589c98",
  "meta": {
    "instanceId": "466b81894deedf7b7f89c0d763ea56890e67895259a64ac496c39c1749b38d28"
  },
  "id": "CSRj1k3tDvVH4QVu",
  "tags": []
}