heygen_n8n_workflow.json
{
  "name": "HeyGen Premium Avatar Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heygen-upload",
        "options": {}
      },
      "id": "webhook-upload",
      "name": "Webhook: Files Uploaded",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "content": "=Hola Admin!\n\nUn usuario ha subido material para un nuevo avatar.\nEmail: {{$json.body.email}}\nVideo: {{$json.body.videoUrl}}\nAudio: {{$json.body.audioUrl}}\nEscenarios: {{$json.body.scenarios.join(', ')}}\n\nProcede a crear el avatar en HeyGen."
      },
      "id": "notify-admin",
      "name": "Notify Admin (Placeholder)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        150
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heygen-activate",
        "options": {}
      },
      "id": "webhook-activate",
      "name": "Webhook: Start Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        450
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.ideas.ideas",
        "options": {}
      },
      "id": "split-ideas",
      "name": "Split Ideas",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "TU_API_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{$node[\"Webhook: Start Generation\"].json.body.avatarId}}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{$json.full_script}}\",\n        \"voice_id\": \"TU_VOICE_ID_AQUI\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "heygen-api",
      "name": "HeyGen Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "id": "wait-node",
      "name": "Wait (Simulated)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        850,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"Webhook: Start Generation\"].json.body.callbackUrl || 'http://localhost:3000/api/webhooks/n8n'}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{$node[\"Webhook: Start Generation\"].json.body.userId}}"
            },
            {
              "name": "heygenStatus",
              "value": "COMPLETED"
            },
            {
              "name": "videoUrl",
              "value": "={{$json.data.video_url}}"
            }
          ]
        },
        "options": {}
      },
      "id": "callback-web",
      "name": "Update Web Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        450
      ]
    }
  ],
  "connections": {
    "Webhook: Files Uploaded": {
      "main": [
        []
      ]
    },
    "Webhook: Start Generation": {
      "main": [
        [
          {
            "node": "Split Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Ideas": {
      "main": [
        [
          {
            "node": "HeyGen Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen Generate Video": {
      "main": [
        [
          {
            "node": "Wait (Simulated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Simulated)": {
      "main": [
        [
          {
            "node": "Update Web Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
